/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

label {
  font-size: 24px;
  color:var(--clr-gold);
  width: 100%;
  text-align: center;
  margin:10px;
}

a {
  color:var(--clr-gold);
}
a:hover {
   color:var(--clr-primary-1);
}

/*
=============== 
Header Styles
===============
*/

.header {
  overflow: hidden;
  background: var(--clr-primary-1);
  width: 100%;
  margin: auto;
  text-align: center;
  padding:20px;
  position: sticky;
  top:0;
  z-index:1;
}


.logo_home{
  position: absolute;
  padding:10px;
  color:var(--clr-gold);
  opacity:0.9;
}

.logo_home:hover{
  opacity: 1;
}

.form-popup {
  width: 100%;
  border-radius: 10px;
}


/*
================= 
Login PopUp Styles
=================
*/
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:var(--clr-primary-1);
  margin:auto;
}

.form-container h1{
  color:var(--clr-gold)
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;

  border-radius: var(--radius);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  border-color: transparent;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*
=============== 
Home Styles
===============
*/

.main {
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
  text-align: center;
  justify-content: center;
}
.loading {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--clr-gold);
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.header-btn {
  background: var(--clr-primary-6);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.header-btn:hover{
  background: var(--clr-primary-5);
}

.footer{
  text-align: center;
  background: var(--clr-primary-1);
  clear: both;
  position: relative;
  height: 30px;
}


/*
================ 
Home Menu Styles
================
*/

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  margin-bottom: 50px;
}
.photo {
  object-fit:fill;
  height: 250px;
  width: 100%;
  border: 0.25rem solid;
  border-radius: var(--radius);
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
  color: var(--clr-primary-2);  
}

.item-text {
  margin-bottom: 15px;
  padding-top: 1rem;
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient: vertical; */
}


@media screen and (min-width: 500px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 70rem;
  }
  .photo {
    height: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    height: 250px;
  }
  .menu-item {
    grid-template-columns: 300px 1fr;
  }
}

/*
================ 
Blog Details
================
*/

.single-blog p {
  margin:2rem;
  overflow: auto;
  font-size:20px;
}

.single-blog img {
  width:auto;
  height: 70vh;
  object-fit: cover;
  border-radius: 5px;
  float: left;
  margin-right:2rem;
  margin-bottom: 2rem;
}

.blog-headers h4{
  align-items: center;
  margin: 1rem;
  text-align: center;
  color: var(--clr-gold);
  font-size: 40px;
}

.blog-info {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.blog-footer{
  margin: auto;
  text-align:center;
  background-color: var(--clr-primary-1);
  padding:2rem
}

.blog-footer button{
  background: var(--clr-primary-6);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin:0px;
  border-radius: 100px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  color:white
}

.blog-footer button:hover{
  opacity: 1;
  background:var(--clr-primary-5);
}

.blog-footer h4{
  margin:5px;
  color:var(--clr-gold)
}

.map iframe{
  margin:5px;
  width: 60vh;
  height: 15vh;
  border-radius: 10px;
}

/*
================ 
Media Screen styles
For  BlogDetails
================
*/

@media screen and (max-width: 1000px) {
  .single-blog {
    text-align: center;
  }

  .single-blog img {
    text-align: center;
    width: 100%;
    height: auto;
    max-height: 1000px;
    object-fit:fill;
    margin: 0rem;
  }

  .single-blog p{
    font-size: 18px;
  }

  .blog-footer{
    margin: auto;
    text-align:center;
  }
}

@media screen and (max-width: 750px) {

  .single-blog {
    text-align: center;
  }

  .single-blog img {
    text-align: center;
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit:fill;
    margin: 0rem;
  }

  .single-blog p{
    font-size: 16px;
  }

  .blog-footer{
    margin: auto;
    text-align:center;
  }


  .map iframe{
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width:400px){
  .map iframe{
    width:250px;
    height: 200px;
  }
}


/*
================ 
Edit Blog Button
================
*/

.edit-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn{
  background-color: white;
  color: red;
  padding: 10px 10px;
  border: none;
  margin: 5px;
  min-width: 100px;
  border: 2px solid;
  border-radius: 100px;
  cursor: pointer;
  font-size:15px;
  opacity: 0.8;
}

.edit-btn:hover{
  background-color:red;
  color:white;
  opacity: 1;
}

/*
================ 
Edit Blog PopUp
================
*/

.popup{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-inner{
  border-radius: 10px;
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color:var(--clr-primary-1);
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  border: none;
  background: none;
  color:var(--clr-gold);
  cursor: pointer;
  opacity: 0.8;
}

.popup-inner i:hover{
  color:red;
}

.popup-form{
  text-align: center;
}

.popup-form button{
  margin-left: 0px;
  background-color: #04AA6D;
  color: white;
  border:none;
  opacity: 0.8;
}

.popup-form button:hover{
  opacity:1;
  background-color: #04AA6D;
}

.popup-form textarea{
  font-size: 16px;
  width: 100%;
  resize: vertical;
  border: 0.25rem solid;
  border-radius: var(--radius);
  border-color: var(--clr-gold);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoTextArea{
  height: 200px;
}

.descriptionTextArea{
  height: 300px;
}

@media screen and (min-height: 568px) {
  .popup-form textarea{
    font-size: 12px;
  }
  .infoTextArea{
    height: 150px;
  }
  
  .descriptionTextArea{
    height: 150px;
  }
}

@media screen and (min-height: 640px) {
  .popup-form textarea{
    font-size: 15px;
  }
  .infoTextArea{
    height: 150px;
  }
  
  .descriptionTextArea{
    height: 200px;
  }
}


.imgPop{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.imgPop .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  border: none;
  background: none;
  color:var(--clr-gold);
  cursor: pointer;
  z-index: 1;
}

.innerimgPop{
  border-radius: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.innerimgPop img{
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
  margin: auto;
}


.errorDiv{
  text-align: center;
  width:100%
}

.errorDiv img{
  width: 80%;
}

.errorDiv h2{
  color:red;
  text-align: center;
}